header{
    top: 0;
    z-index: 1000;
    position: sticky;
    display: flex;
    gap: 35px;
    justify-content: center;
    background-color: black;
    color: white;
    padding-bottom: 18px;
}
body{
margin: 0;
padding: 0;
font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header h1{
        padding-top: 13px;
    font-size: 25px;
    color: rgb(62, 37, 255);
    margin-right: 300px;
}
header a{
    font-size: 23px;
    padding-top: 30px;
    text-decoration: none;
   color: white;
}
header button{
 margin-left: 340px;
  background-color: rgb(0, 35, 150);
    border-radius: 8px;
    color: white ;
    border: none;
    padding: 10px 60px;
    margin-top: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 18px;
transition: 0.4s ease-in-out !important;
}
header button:hover{
    background-color: rgb(40, 15, 150);
}
.hero{
    display: flex;
justify-content: center;
margin-bottom: 80px;
gap: 5px;
}
.hero h1{
    margin-right: 220px;
    font-size: 100px;
    margin-bottom: 10px;
}
.hero p{
    margin-top: 0;
    font-size: 20px;
}
.hero img{
    margin-top: 90px;
  width: 950px;
  height: 400px;
 border-radius: 10px;
}
span{
    color: rgb(58, 28, 192);
}
.popular img{
  width: 350px ;
  height: 200px;
  border-radius: 8px;
}
.popular{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    gap: 80px;
}
.popular div{
    box-shadow: 1px 2px 5px grey;
    border-radius: 8px;
    color: white;
    background-color:  rgb(0, 0, 0);
}
.popular h2,p{
    margin-left: 20px;
}
.b1{
 background-color:  rgb(0, 26, 49);
    border-radius: 8px;
    color: white ;
    border: none;
    padding: 10px 60px;
    margin-top: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 18px;
transition: 0.4s ease-in-out !important;
}
.b1:hover{
    background-color:  rgb(33, 4, 162);
}
.b2{
    background-color: rgb(254, 254, 255);
    border-radius: 8px;
    color: rgb(0, 0, 0) ;
    border: 1px solid black;
    padding: 10px 40px;
    margin-top: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 18px;
transition: 0.4s ease-in-out !important;
}
.b2:hover{
    background-color: rgb(207, 207, 207);
}
.About{
    margin-top: 80px;
    display: flex ;
    gap: 70px;
    background-color: rgb(0, 26, 49);
    padding: 10px 0 50px;
    color: white;
    justify-content: center;
}
.About h1{
    margin-left: 20px;
}
.div1{
    margin-top: 40px;
    border: 1px solid rgb(194, 194, 194);
    width: 4cm;
    color: black;
    height: 4.5cm;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}
.About button{
     background-color: rgb(77, 37, 255);
    border-radius: 8px;
    color: white ;
    border: none;
    margin-left: 20px;
    padding: 10px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 13px;
transition: 0.4s ease-in-out !important;
}
.About button:hover{
   background-color: rgb(1, 32, 136);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.valorant img{
    width: 280px;
    background-color: white;
    border-radius: 10px;
    height: 270px;
}
.our{
    text-align: center;
    justify-content:    center ;
     background-color: rgb(0, 26, 49);
     padding: 7px;
     color: white;
}
.valorant{
    display: flex;
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 70px;
    margin: 50px 200px 50px 200px;
    text-align: center;
    justify-content:center ;
}
.valorant div{
    background-color: white;
}
.div2 button{
    border-radius: 8px;
    border: none;
    padding: 10px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
color: white;
font-size: 13px;
transition: 0.4s ease-in-out !important;
}
.Upcoming{
    background-color: rgb(77, 37, 255);
}
.Upcoming:hover{
    background-color: rgb(25, 0, 136);
}
.Live{
    background-color: rgb(0, 184, 0); 
}
.Live:hover{
    background-color: rgb(0, 126, 0);
}
.Finished{
    background-color: rgb(107, 107, 107);
}
.Finished:hover{
    background-color: rgb(86, 85, 85);
}
.valorant div{
    box-shadow: 1px 2px 10px grey;
    border-radius: 10px;
    border: none;
}
.tour img {
   width: 450px;
   height: 200px;
}
.tour{
    display: flex ;
    flex-direction: column;
       margin-bottom: 50px;
}
.div2{
    display: flex;
    gap: 40px;
     margin-bottom: 20px;
     box-shadow: 2px 2px 10px grey;
}
.Contact{
    margin-top: 50px;
    display: flex;
    margin-bottom: 7%;
    justify-content: center;
    gap: 220px;
}
.lets{
    font-size: 22px;
}
input{
    padding: 15px 150px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid   rgb(77, 37, 255);
}
#message{
    margin-top: 15px;
     border: 1px solid   rgb(77, 37, 255);
     border-radius: 5px;
}
#submit{
     padding: 15px 170px;
     background-color:   rgb(77, 37, 255);
     font-weight: bold;
     font-size: 18px;
     border: none;
     color: white;
}
.send{
    margin-top: 50px;
}
::placeholder{
    color:  rgb(77, 37, 255);
    text-align:center;
}
.FEATURED img{
    border-radius: 10px;
    width: 520px;
    height: 300px;
}
.FEATURED button{
          background-color: rgb(0, 27, 115);
    border-radius: 8px;
    color: white ;
    border: none;
    margin-left: 20px;
    padding: 10px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 13px;
transition: 0.4s ease-in-out !important;
}

.FEATURED button:hover{
    background-color: rgb(0, 52, 222);
}
.cards img{
   width: 350px;
   height: 200px;
   border-radius: 10px;
}
.news {
    margin: 50px;
    gap: 120px;
    display: flex;
    margin-bottom: 7%;
}
.cards {
    display: flex;
    flex-wrap:wrap ;
    gap: 20px;
}
.cards button{
           background-color: rgb(0, 27, 115);
    border-radius: 8px;
    color: white ;
    border: none;
    margin-left: 20px;
    padding: 10px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 13px;
transition: 0.4s ease-in-out !important;
}
.cards button:hover{
        background-color: rgb(0, 52, 221);
}
